In [86]:
import pandas as pd
import numpy as np

In [87]:
a = pd.read_csv("mostwickets.csv")
b = pd.read_csv("best_bowing_avgs.csv")
c = pd.read_csv("bowlingSR.csv")
d = pd.read_csv("bowlingeconomy.csv")
e = pd.read_csv("most_maidens.csv")
f = pd.read_csv("mostdots.csv")
g = pd.read_csv("mostrunconceded.csv")
h = pd.read_csv("mostvaluableplayer.csv")

In [88]:
a.head()

           Player   Mat   Inn    Ov   Runs  ...    Avg  Econ     SR   4W   5W
0   Harshal Patel    15    15  56.2    459  ...  14.34  8.14  10.56    1    1
1      Avesh Khan    16    16  61.0    450  ...  18.75  7.37  15.25    0    0
2  Jasprit Bumrah    14    14  55.0    410  ...  19.52  7.45  15.71    0    0
3  Shardul Thakur    16    16  59.5    527  ...  25.09  8.80  17.09    0    0
4  Mohammad Shami    14    14  52.4    395  ...  20.78  7.50  16.63    0    0

[5 rows x 12 columns]

In [89]:
data = [a['Player'],e[' Maid'],f[' dots'],h[' Catches'],h[' Run outs'],h[' Stumpings'],h[' Pts']]
headers = ["Player","Maid", "Dots","Catches","Run Outs","Stumping","Pts"]

df_merged = pd.concat(data, axis=1, keys=headers)

In [90]:
data_1 = [e['Player'],e[' Maid']]
headers = ["Player","Maid"]
df1_merged = pd.concat(data_1, axis=1, keys=headers)
df1_merged.head()

             Player  Maid
0     Ishant Sharma     2
1     Harpreet Brar     1
2     Anrich Nortje     1
3  Yuzvendra Chahal     1
4   Ravindra Jadeja     1

In [91]:
data_2 = [f['Player'],f[' dots']]
headers = ["Player","Dots"]
df2_merged = pd.concat(data_2, axis=1, keys=headers)
df2_merged.head()

                Player  Dots
0           Avesh Khan   156
1  Varun Chakaravarthy   149
2       Mohammed Siraj   147
3       Mohammad Shami   145
4       Jasprit Bumrah   142

In [92]:
data_3 = [h['Player'],h[' Catches'],h[' Run outs'],h[' Stumpings'],h[' Pts']]
headers = ["Player","Catches","Run Outs","Stumping","Pts"]
df3_merged = pd.concat(data_3, axis=1, keys=headers)
df3_merged.head()

            Player  Catches  Run Outs  Stumping    Pts
0    Harshal Patel        3         1         0  264.5
1  Ravindra Jadeja       13         2         0  263.0
2   Faf du Plessis       12         0         0  260.5
3  Ruturaj Gaikwad        6         0         0  255.5
4         KL Rahul       11         1         0  253.5

In [93]:
df = pd.merge(df1_merged, df2_merged, on='Player', how='outer')

In [94]:
df_f = pd.merge(df, df3_merged, on='Player', how='outer')

In [95]:
df_final = pd.merge(a, df_f, on='Player', how='outer')

In [96]:
df_final.head()

           Player   Mat   Inn    Ov  ...  Catches  Run Outs Stumping    Pts
0   Harshal Patel  15.0  15.0  56.2  ...      3.0       1.0      0.0  264.5
1      Avesh Khan  16.0  16.0  61.0  ...      1.0       0.0      0.0  245.0
2  Jasprit Bumrah  14.0  14.0  55.0  ...      4.0       1.0      0.0  231.5
3  Shardul Thakur  16.0  16.0  59.5  ...      2.0       1.0      0.0  216.5
4  Mohammad Shami  14.0  14.0  52.4  ...      1.0       1.0      0.0  215.0

[5 rows x 18 columns]

In [98]:
df_final.to_csv('bowl_final.csv')